/* You can add global styles to this file, and also import other style files */
/* Tailwind Docs: 
    https://tailwindcss.com/docs/functions-and-directives
    https://tailwindcss.com/docs/theme
*/

@import "tailwindcss";

@theme {
    --color-blue-1: #004052;
    --color-blue-2: #073642;
    --color-blue-3: #002b36;
    --color-blue-4: #00212B;

    --color-white-1: #fdf6e3;
    --color-white-2: #eee8d5;
    --color-white-3: #879394;
    --color-white-4: #96A0A0;
    --color-white-5: #CBCBCB;

    --color-gray-1: #93a1a1;
    --color-gray-2: #839496;
    --color-gray-3: #657b83;
    --color-gray-4: #586e75;

    --color-brand-yellow: #b58900;
    --color-brand-orange: #cb4b16;
    --color-brand-red: #dc322f;
    --color-brand-magenta: #d33682;
    --color-brand-violet: #6c71c4;
    --color-brand-blue: #268bd2;
    --color-brand-cyan: #2aa198;
    --color-brand-green: #859900;
}

:root {
    background-color: var(--color-blue-3);
    color: var(--color-white-1);
}

nav > a {
    font-weight: 350;
}

section, article {
    color: var(--color-white-5);
    max-width: 74ch;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 2rem;
        font-weight: 550;
        color: var(--color-white-1);
        text-align: center;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 450;
        color: var(--color-white-1);
    }

    hr {
        color: var(--color-gray-1);
        margin-top: -1em;
    }

    p {
        color: var(--color-white-2);
        text-align: justify;
        
        font-weight: 300;
    
        a {
            /* color: var(--color-white-1); */
            text-decoration: underline;
    
            &:hover {
                color: var(--color-gray-1);
            }
        }
    }

    li {
        font-weight: 300;
    }

    li > strong {
        font-weight: 450;
        margin-left: 0.25rem;
    }

    strong {
        color: var(--color-white-1);
        font-weight: 550;
    }

    .list {
        margin-left: 1.5rem;
        list-style-type: disc;
        color: var(--color-white-5);
    }
}
